*{
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-image:linear-gradient(to top , #2f7693 ,#073515);
    background-repeat: repeat-x;
    background-size:cover;
    height:100vh;
    
}
.container{
    min-height: 50vh;
    filter: blur();
    padding:40px;
    min-width:500px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.head{
    display:block;
    color:#eee;
    font-weight: bold;

}
input[type=text],input[type=password]{
    margin:10px 0;
    min-width: 300px;
    min-height: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(23, 49, 37);
    color:#eee;
    border:none;
    cursor:;
}
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 2px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.item{
    position: relative;
}
label{
    position: absolute;
    color:azure;
    display:none;
   
}
.item:hover label{
    transition: 1s;
    top:0;
}
.item:first-child{
    margin-top: 50px;
}
.item:nth-child(2){
    margin-bottom: 20px;
}